<section class="about-section section">
    <div class="about-container container">
        <div class="about-heading">
            <h3 class="about-heading__h3">Добро пожаловать
                в&nbsp;клубный дом Richmond</h3>
        </div>
        <div class="about-content">
            <p class="about-content__text">Геометричные элементы парадного фасада, светлые и просторные помещения 
                с 5-метровыми потолками,сразу отсылают к эстетике американского 
                классического ар-деко. <span class="content__delimited"></span>   
                Его влияние быстро охватило Америку начала 19 века, формировало 
                образ жизни того периода, которй характеризуется бурным экономическим ростом, развитием 
                технологий, машиностроенияи строительства культовых известнейших 
                арх-сооружений,а также развитием киноискусства.
            </p>
            <div class="about-content__number">
                <div class="about-content__number-item">
                    <p class="number">5 <span>М</span> </p>
                    <p class="description">высота потолков</p>
                </div>
                <div class="about-content__number-item">
                    <p class="number">2  </p>
                    <p class="description">зоны отдыха</p>
                </div>
                <div class="about-content__number-item">
                    <p class="number">7  </p>
                    <p class="description">жилых этажей</p>
                </div>
                <div class="about-content__number-item">
                    <p class="number">90  </p>
                    <p class="description">премиум апартаментов</p>
                </div>
            </div>
        </div>
    </div>
</section>