<div class="comfort-section section">
    <h3 class="comfort-h3 container">Зона комфорта</h3>
    <div class="slider-container comfort-container">
        <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <img src="./img/Slider_item1.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="./img/Slider_item2.jpg" alt="">
            </div>
            <div class="swiper-slide">
                <img src="./img/Slider_item3.jpg" alt="">
            </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          
          </div>
    </div>
</div>