<div class="features-section section">
    <div class="feature-container container">
        <h3 class="feature-h3">
            Преимущества
        </h3>
        <div class="features-swiper">
            <div class="features-swiper-wrapper">
              <div class="features-slide">
                  <img src="./img/feature_item1.jpg" alt="">
                  <p class="features-descr">Уникальная архитектура</p>
              </div>
              <div class="features-slide">
                <img src="./img/feature_item2.jpg" alt="">
                <p class="features-descr">Пентхаусы с высокими потолками</p>
            </div>
            <div class="features-slide">
                <img src="./img/feature_item3.jpg" alt="">
                <p class="features-descr">Собственое</p>
            </div>
            <div class="features-slide">
                <img src="./img/feature_item1.jpg" alt="">
                <p class="features-descr">Уникальная архитектура</p>
            </div>
             
            </div>
            <div class="features-pagination"></div>
            <div class="features-button-prev"></div>
            <div class="features-button-next"></div>
          
          </div>
    </div>
</div>