<div class="header">
    <div class="container header-container">
        <div class="header-navigation">
            <div class="header-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header-logo">
                <a href="/">
                    <p class="logo">Richmond</p>
                </a>
            </div>
            <nav>
                <a href="#" class="nav-item">О проекте</a>
                <a href="#" class="nav-item">Предложения</a>
                <a href="#" class="nav-item">Контакты</a>
            </nav>
        </div>
        <div class="header-action">
            <a href="tel:+37368349062" class="header-action__phone">8 (495) 979 47 72</a>
            <button class="header-action__button">Записаться</button>
        </div>
    </div>
</div>