<section class="section location-section">
    <div class="location-container container">
        <div class="location-content">
            <div class="location-content__location">
                <h3 class="locaion-h3">Пресненский район</h3>
                <p class="location-content__adress">ул. Климашкина  16</p>
            </div>
            <div class="location-content__text">
                <p class="location-content__paragraph">
                    Москва-Сити, Центр международной торговли, известные театры, музеи, 
                    лучшие рестораны&nbsp;&mdash; центр Москвы&nbsp;&mdash; центр притяжения 
                    успеха, вдохновения и&nbsp;силы.
                </p>
            </div>
        </div>
        <div class="location-map">
            <img src="./img/maps.jpg" alt="">
            <div class="location-map__nav">
                <a href="#" class=" location-map__nav-item nav-item">Все обьекты</a>
                <a href="#" class=" location-map__nav-item nav-item">Рестораны</a>
                <a href="#" class=" location-map__nav-item nav-item">Парки</a>
                <a href="#" class=" location-map__nav-item nav-item">Магазины</a>
                <a href="#" class=" location-map__nav-item nav-item">Образование</a>
                <a href="#" class=" location-map__nav-item nav-item">Спорт</a>
            </div>
        </div>

    </div>
</section>