<div class="params-section section">
    <div class="params-container container">
        <h3 class="params-h3">
            Характеристики
        </h3>
        <div class="params-content">
            <div class="params-content_item">
                <h6 class="params-h6">Сервис</h6>
                <p class="params-descr">Две зоны ресепшн 24/7</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Паркинг</h6>
                <p class="params-descr">Наземный, охраняемый паркинг</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Кондиционирование</h6>
                <p class="params-descr">Центральная система кондиционирования</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Лифты</h6>
                <p class="params-descr">Бесшумные премиальные лифты OTIS</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Территория</h6>
                <p class="params-descr">Огороженная и&nbsp;охраняемая территория</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Остекление</h6>
                <p class="params-descr">Высококачественные стеклопакеты
                    с&nbsp;повышенным шумоизоляции</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Пожарная сигнализация</h6>
                <p class="params-descr">Автоматическая система пожаротушения</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Вентиляция</h6>
                <p class="params-descr">Система принудительной приточно-вытяжной вентиляции</p>
            </div>
            <div class="params-content_item">
                <h6 class="params-h6">Система безопасности</h6>
                <p class="params-descr">Соверменная система охраны</p>
            </div>

        </div>
    </div>
</div>