<div class="parteners-section section">
    <div class="parteners-container container">
        <h3 class="parteners-h3">Партнеры</h3>
        <div class="parteners-content">
            <div class="parteners-content_item">
                <img src="./img/parteners.png" alt="">
            </div>
            <div class="parteners-content_item">
                <img src="./img/parteners2.png" alt="">
            </div>
            <div class="parteners-content_item">
                <img src="./img/parteners3.png" alt="">
            </div>
            <div class="parteners-content_item">
                <img src="./img/parteners4.png" alt="">
            </div>
            <div class="parteners-content_item">
                <img src="./img/parteners5.png" alt="">
            </div>
            <div class="parteners-content_item">
                <img src="./img/parteners6.png" alt="">
            </div>
        </div>
    </div>
</div>