<div class="section style-section">
    <div class="container style-container">
        <div class="style-content">
            <h4 class="style-h4">Стиль</h4>
            <p class="style-content__text">
                Главный фасад здания исполнен в&nbsp;неоклассическом стилес выступающими деталями и&nbsp;большим количество окон.Это четко 
очерченная композиция из&nbsp;полированного гранитас элементами рустики, крупноформатного керамогранитаи декоративными элементами, выполненными на&nbsp;заказ.
<span class="content__delimited"></span>	
В&nbsp;основе интерьеров приоритетными являются эстетика,где 
видимая роскошь сочетается с&nbsp;комфортом, в&nbsp;неё идеально вписываются любые технические приборы и&nbsp;устройства.
            </p>
        </div>
        <div class="style-img">
            <img src="./img/style.jpg" alt="">
        </div>
    </div>
</div>